<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lar Pet Lar</title>
    <link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
    <div class="container">
        <!-- antes de começarem a codar, pesquisem sobre semântica html. exemplo: https://developer.mozilla.org/pt-BR/docs/Glossary/Semantics -->
        <header></header>
        <main></main>
        <footer></footer>
    </div>
</body>
</html>