<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lar Pet Lar</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="/src/view/css/Carrocel.css">
    <script src="/src/view/js/timerCarrocel.js" defer></script>
    <script src="https://kit.fontawesome.com/6dda5f6271.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="/src/assets/image/logo.png" alt="Logo da ONG de Adoção Animal" id="logo">
            <nav>
                <ul>
                    <li><a href="/src/index.html">Home</a></li>
                    <li> <a href="../Sobre/Sobre.html">Sobre</a></li>
                    <li><a href="/src/view/pages/adoção.html">Adotar</a></li>
                    <li><a href="/src/view/pages/cadastro.html">Cadastre-se</a></li>
                    <li><a href="/src/view/pages/login.html">Entrar</a></li>
                </ul>
                
            </nav>
        </div>
    
        
        <div class="menu">
    </div>
        </div>
    </header>
    <main>
     
    <section class="slider">
        <div class="slider-content">
            
            <input type="radio" name="btn-radio" id="radio1">
            <input type="radio" name="btn-radio" id="radio2">
            <input type="radio" name="btn-radio" id="radio3">

            <div class="slide-box primeiro">
                <img class="img-desktop 1" src="/src/assets/image/1.jpg" alt="slide 1">
                <img class="img-mobile 1" src="/src/assets/image/1.jpg" alt="slide 1">
              </div>
              <div class="slide-box">
                <img class="img-desktop" src="/src/assets/image/2.jpg" alt="slide 3">
                <img class="img-mobile" src="/src/assets/image/2.jpg" alt="slide 1">
              </div>
              <div class="slide-box">
                <img class="img-desktop" src="/src/assets/image/3.jpg" alt="slide 3">
                <img class="img-mobile" src="/src/assets/image/3.jpg" alt="slide 1">
              </div>
              <div class="slide-box">
                <img class="img-desktop" src="/src/assets/image/4.jpg" alt="slide 3">
                <img class="img-mobile" src="/src/assets/image/4.jpg" alt="slide 3">
              </div>

            <div class="nav-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
            </div>

            <div class="nav-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>

        </div>
    </section>
 
    <section id="Nossa Historia">
        <div class="container1">
            <h2>Nossa Historia</h2>
            <p>A ONG Pet-Lar nasceu do amor e respeito pelas criaturas de quatro patas. Fundada por um grupo de jovens, a ONG tinha um objetivo claro: mudar a realidade dos animais rejeitados e abandonados no Brasil. Em 2024, o sonho começou a se materializar com a criação de um site de adoção de animais. Esse site se tornou um farol de esperança, conectando animais em busca de lares amorosos com famílias dispostas a adotá-los. A comunidade abraçou a causa, e mais e mais patinhas encontraram seus lares para sempre</p>
          
        </div>
    </section>

    <section id="Missão">
        <div class="container1">
            <h2>Missão</h2>
            <p>Nós nos dedicamos a conectar animais em busca de um lar amoroso com pessoas que desejam adotar. Nosso objetivo é reduzir o sofrimento dos animais abandonados, oferecendo uma plataforma segura e eficiente para facilitar a adoção responsável. Acreditamos que cada animal merece uma segunda chance e estamos comprometidos em promover a posse responsável, conscientizando sobre a importância da esterilização, vacinação e cuidados adequados. Juntos, podemos fazer a diferença na vida desses seres incríveis. </p>
        </div>
    </section>

    <section id="Valores">
        <div class="container1">
            <h2>Valores</h2>
            <p> <strong>Compaixão e Empatia</strong>
                Ter um profundo amor pelos animais e preocupar-se genuinamente com o bem-estar deles.
                A compaixão é o motor que impulsiona a busca por soluções e ações em prol dos bichinhos.</p>
            <p><strong>Respeito pelos Animais e Pessoas</strong>
                Além de cuidar dos animais, tratar todos com respeito: colegas, voluntários, adotantes e parceiros.
                Isso inclui ouvir, aprender e adaptar-se conforme necessário.</p>
        </div>
    </section>
    </main>
    <footer>
        <div class="container">
            <p>© 2024 ONG de Adoção Animal. Todos os direitos reservados.</p>
        </div>
    </footer>

    <!-- script -->
    <script type="module" src="./src/controller/register.js"></script>
    <script type="module" src="./src/view/js/script.js"></script>
    <script type="module" src="./src/controller/Animal.js"></script>
    <script type="module" src="./src/view/js/script.js"></script>
    
</body>
</html>