
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e2e2e2;
}

.container {
    width: 80%; 
    margin: auto;
}

header {
    background-color: #1a75ff;
    padding: 2em 0;
    color: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 50px;
    filter: invert(1);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu{
    width: 50%;
}

 a {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    justify-content: flex-start;
    padding-right: 30px;
    padding-bottom: 8px;
    position: relative;
}

 a::after{
    content:"";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg ,#ed7e00, #ed7e00);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

 a:hover::after{
    width: 60%;
}

.dog img {
    max-width: 100%; 
    height: 400px;
}

/* estilização do conteúdo */

section{
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}

section h2{
    font-size: 2em;
    margin-bottom: 25px;
}

section p{
    font-size: 20px;
}

#menu-mobile{
    background-color: #1111119f;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 77px;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

#menu-mobile nav a{
    display: block;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
}

#menu-mobile nav a:hover{
    background-color: #1a75ff;
}

#btn-menu,
#btn-menu-close{
    color: #1a75ff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1110px) {
    .menu{
        display: none;
    }


    #btn-menu, #menu-mobile{
        display: block;
    }

    #menu-mobile.active{
        height: calc(100vh - 77px);
        visibility: visible;
    }
}

footer {
    background-color: #1a75ff;
    padding: 2em 0;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;

}

input {
    width: 50%;
    height: 30px;
}

.button {
    width: 80px;
    padding: 10px;
    border-radius: 8px;
    border: transparent;
    background-color: #ed7e00;
    cursor: pointer;
}